# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
run/CMakeFiles/
run/cmake_install.cmake
benchmark/APFEL

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTex
*.aux
*.idx
*.log
*.pdf

.ipynb_checkpoints

build
bin/MontBlanc-config
inc/MontBlanc/version.h
bin/MontBlanc-config
